body {
    background: url("https://images.unsplash.com/photo-1617309215127-ebeb4eddeba5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    color: yellow;
    font-family: 'Play', sans-serif;
}

h1 {
    text-align: center;
}

.hidden {
    display: none !important
}

.ship_information {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px;
    height: 50px;

}

.alien_information {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 10%;
    right: 10%;
    width: 300px;
    height: 50px;
}

.starship_console {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 10%;
}

h2 {
    margin: 0;
    padding: .25em;
}

.attack_sequence {
    font-size: 24px;
    padding-left: 1em;
    height: 400px;
}

.command_buttons {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 250px;
}