body {
    background: powderblue;
}

.hidden {
    display: none !important
}

.ship_information {
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 20%;
    height: 50px;

}

.alien_information {
    border: 1px solid black;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 20%;
    height: 50px;
}

.attack_sequence {
    border: 1px solid black;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
    height: 300px;
}